.inputData{
    margin: auto;
    display: flex;
    flex-direction: column;
}
.inputDataLogin{
    margin-top: 5%;
    margin-bottom: 2%;
}
.inputDataPass{
    margin-bottom: 2%;
}
.inputDataButton{
    background-color: rgba(7, 238, 7, 0.904);
    border-color: rgba(15, 221, 25, 0.692);
    border-width: 1px;
    border-radius: 5px;
}